Shipment/App_WebReferences/FedExAPIWCF/FedExShippingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FedExShippingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7061/api/FedExShippingService..svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7061/api/FedExShippingService..svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7061/api/FedExShippingService..svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FedExShippingWCF" />
      <xsd:import schemaLocation="http://localhost:7061/api/FedExShippingService..svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:7061/api/FedExShippingService..svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FedExShippingWCF.FedExShipService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFedExShippingService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IFedExShippingService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IFedExShippingService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IFedExShippingService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IFedExShippingService_GetLabelByJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLabelByJson" />
  </wsdl:message>
  <wsdl:message name="IFedExShippingService_GetLabelByJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLabelByJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IFedExShippingService_GetLabel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLabel" />
  </wsdl:message>
  <wsdl:message name="IFedExShippingService_GetLabel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLabelResponse" />
  </wsdl:message>
  <wsdl:message name="IFedExShippingService_GetRatesByJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRatesByJson" />
  </wsdl:message>
  <wsdl:message name="IFedExShippingService_GetRatesByJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRatesByJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IFedExShippingService_GetRates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRates" />
  </wsdl:message>
  <wsdl:message name="IFedExShippingService_GetRates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRatesResponse" />
  </wsdl:message>
  <wsdl:message name="IFedExShippingService_ValidateAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateAddress" />
  </wsdl:message>
  <wsdl:message name="IFedExShippingService_ValidateAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IFedExShippingService_ValidateServiceAvailability_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateServiceAvailability" />
  </wsdl:message>
  <wsdl:message name="IFedExShippingService_ValidateServiceAvailability_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateServiceAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="IFedExShippingService_CancelShipment_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelShipment" />
  </wsdl:message>
  <wsdl:message name="IFedExShippingService_CancelShipment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelShipmentResponse" />
  </wsdl:message>
  <wsdl:portType name="IFedExShippingService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFedExShippingService/GetData" message="tns:IFedExShippingService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFedExShippingService/GetDataResponse" message="tns:IFedExShippingService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IFedExShippingService/GetDataUsingDataContract" message="tns:IFedExShippingService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFedExShippingService/GetDataUsingDataContractResponse" message="tns:IFedExShippingService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLabelByJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IFedExShippingService/GetLabelByJson" message="tns:IFedExShippingService_GetLabelByJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFedExShippingService/GetLabelByJsonResponse" message="tns:IFedExShippingService_GetLabelByJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLabel">
      <wsdl:input wsaw:Action="http://tempuri.org/IFedExShippingService/GetLabel" message="tns:IFedExShippingService_GetLabel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFedExShippingService/GetLabelResponse" message="tns:IFedExShippingService_GetLabel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRatesByJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IFedExShippingService/GetRatesByJson" message="tns:IFedExShippingService_GetRatesByJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFedExShippingService/GetRatesByJsonResponse" message="tns:IFedExShippingService_GetRatesByJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRates">
      <wsdl:input wsaw:Action="http://tempuri.org/IFedExShippingService/GetRates" message="tns:IFedExShippingService_GetRates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFedExShippingService/GetRatesResponse" message="tns:IFedExShippingService_GetRates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IFedExShippingService/ValidateAddress" message="tns:IFedExShippingService_ValidateAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFedExShippingService/ValidateAddressResponse" message="tns:IFedExShippingService_ValidateAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateServiceAvailability">
      <wsdl:input wsaw:Action="http://tempuri.org/IFedExShippingService/ValidateServiceAvailability" message="tns:IFedExShippingService_ValidateServiceAvailability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFedExShippingService/ValidateServiceAvailabilityResponse" message="tns:IFedExShippingService_ValidateServiceAvailability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelShipment">
      <wsdl:input wsaw:Action="http://tempuri.org/IFedExShippingService/CancelShipment" message="tns:IFedExShippingService_CancelShipment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFedExShippingService/CancelShipmentResponse" message="tns:IFedExShippingService_CancelShipment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFedExShippingService" type="tns:IFedExShippingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IFedExShippingService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IFedExShippingService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLabelByJson">
      <soap:operation soapAction="http://tempuri.org/IFedExShippingService/GetLabelByJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLabel">
      <soap:operation soapAction="http://tempuri.org/IFedExShippingService/GetLabel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRatesByJson">
      <soap:operation soapAction="http://tempuri.org/IFedExShippingService/GetRatesByJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRates">
      <soap:operation soapAction="http://tempuri.org/IFedExShippingService/GetRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateAddress">
      <soap:operation soapAction="http://tempuri.org/IFedExShippingService/ValidateAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateServiceAvailability">
      <soap:operation soapAction="http://tempuri.org/IFedExShippingService/ValidateServiceAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelShipment">
      <soap:operation soapAction="http://tempuri.org/IFedExShippingService/CancelShipment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FedExShippingService">
    <wsdl:port name="BasicHttpBinding_IFedExShippingService" binding="tns:BasicHttpBinding_IFedExShippingService">
      <soap:address location="http://localhost:7061/api/FedExShippingService..svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>