Shipment/App_WebReferences/FedExAPIWCF/FedExShippingService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FedExShippingWCF.FedExShipService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FedExShippingWCF.FedExShipService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCommodity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Commodity" nillable="true" type="tns:Commodity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommodity" nillable="true" type="tns:ArrayOfCommodity" />
  <xs:complexType name="Commodity">
    <xs:sequence>
      <xs:element name="additionalMeasuresField" nillable="true" type="tns:ArrayOfMeasure" />
      <xs:element name="cIMarksAndNumbersField" nillable="true" type="xs:string" />
      <xs:element name="countryOfManufactureField" nillable="true" type="xs:string" />
      <xs:element name="customsValueField" nillable="true" type="tns:Money" />
      <xs:element name="descriptionField" nillable="true" type="xs:string" />
      <xs:element name="exciseConditionsField" nillable="true" type="tns:ArrayOfEdtExciseCondition" />
      <xs:element name="exportLicenseExpirationDateField" type="xs:dateTime" />
      <xs:element name="exportLicenseExpirationDateFieldSpecified" type="xs:boolean" />
      <xs:element name="exportLicenseNumberField" nillable="true" type="xs:string" />
      <xs:element name="harmonizedCodeField" nillable="true" type="xs:string" />
      <xs:element name="naftaDetailField" nillable="true" type="tns:NaftaCommodityDetail" />
      <xs:element name="nameField" nillable="true" type="xs:string" />
      <xs:element name="numberOfPiecesField" nillable="true" type="xs:string" />
      <xs:element name="partNumberField" nillable="true" type="xs:string" />
      <xs:element name="purposeField" type="tns:CommodityPurposeType" />
      <xs:element name="purposeFieldSpecified" type="xs:boolean" />
      <xs:element name="quantityField" type="xs:decimal" />
      <xs:element name="quantityFieldSpecified" type="xs:boolean" />
      <xs:element name="quantityUnitsField" nillable="true" type="xs:string" />
      <xs:element name="unitPriceField" nillable="true" type="tns:Money" />
      <xs:element name="weightField" nillable="true" type="tns:Weight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Commodity" nillable="true" type="tns:Commodity" />
  <xs:complexType name="ArrayOfMeasure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Measure" nillable="true" type="tns:Measure" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMeasure" nillable="true" type="tns:ArrayOfMeasure" />
  <xs:complexType name="Measure">
    <xs:sequence>
      <xs:element name="quantityField" type="xs:decimal" />
      <xs:element name="quantityFieldSpecified" type="xs:boolean" />
      <xs:element name="unitsField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Measure" nillable="true" type="tns:Measure" />
  <xs:complexType name="Money">
    <xs:sequence>
      <xs:element name="amountField" type="xs:decimal" />
      <xs:element name="currencyField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Money" nillable="true" type="tns:Money" />
  <xs:complexType name="ArrayOfEdtExciseCondition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EdtExciseCondition" nillable="true" type="tns:EdtExciseCondition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEdtExciseCondition" nillable="true" type="tns:ArrayOfEdtExciseCondition" />
  <xs:complexType name="EdtExciseCondition">
    <xs:sequence>
      <xs:element name="categoryField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EdtExciseCondition" nillable="true" type="tns:EdtExciseCondition" />
  <xs:complexType name="NaftaCommodityDetail">
    <xs:sequence>
      <xs:element name="netCostDateRangeField" nillable="true" type="tns:DateRange" />
      <xs:element name="netCostMethodField" type="tns:NaftaNetCostMethodCode" />
      <xs:element name="netCostMethodFieldSpecified" type="xs:boolean" />
      <xs:element name="preferenceCriterionField" type="tns:NaftaPreferenceCriterionCode" />
      <xs:element name="preferenceCriterionFieldSpecified" type="xs:boolean" />
      <xs:element name="producerDeterminationField" type="tns:NaftaProducerDeterminationCode" />
      <xs:element name="producerDeterminationFieldSpecified" type="xs:boolean" />
      <xs:element name="producerIdField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NaftaCommodityDetail" nillable="true" type="tns:NaftaCommodityDetail" />
  <xs:complexType name="DateRange">
    <xs:sequence>
      <xs:element name="beginsField" type="xs:dateTime" />
      <xs:element name="beginsFieldSpecified" type="xs:boolean" />
      <xs:element name="endsField" type="xs:dateTime" />
      <xs:element name="endsFieldSpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DateRange" nillable="true" type="tns:DateRange" />
  <xs:simpleType name="NaftaNetCostMethodCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NC" />
      <xs:enumeration value="NO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NaftaNetCostMethodCode" nillable="true" type="tns:NaftaNetCostMethodCode" />
  <xs:simpleType name="NaftaPreferenceCriterionCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A" />
      <xs:enumeration value="B" />
      <xs:enumeration value="C" />
      <xs:enumeration value="D" />
      <xs:enumeration value="E" />
      <xs:enumeration value="F" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NaftaPreferenceCriterionCode" nillable="true" type="tns:NaftaPreferenceCriterionCode" />
  <xs:simpleType name="NaftaProducerDeterminationCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NO_1" />
      <xs:enumeration value="NO_2" />
      <xs:enumeration value="NO_3" />
      <xs:enumeration value="YES" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NaftaProducerDeterminationCode" nillable="true" type="tns:NaftaProducerDeterminationCode" />
  <xs:simpleType name="CommodityPurposeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BUSINESS" />
      <xs:enumeration value="CONSUMER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CommodityPurposeType" nillable="true" type="tns:CommodityPurposeType" />
  <xs:complexType name="Weight">
    <xs:sequence>
      <xs:element name="unitsField" type="tns:WeightUnits" />
      <xs:element name="valueField" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Weight" nillable="true" type="tns:Weight" />
  <xs:simpleType name="WeightUnits">
    <xs:restriction base="xs:string">
      <xs:enumeration value="KG" />
      <xs:enumeration value="LB" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WeightUnits" nillable="true" type="tns:WeightUnits" />
  <xs:simpleType name="TrackingIdType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EXPRESS" />
      <xs:enumeration value="FEDEX" />
      <xs:enumeration value="FREIGHT" />
      <xs:enumeration value="GROUND" />
      <xs:enumeration value="USPS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TrackingIdType" nillable="true" type="tns:TrackingIdType" />
</xs:schema>